.container {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--primary-color);
	background-color: var(--white-color);
	animation: fadeIn 0.5s linear;
	cursor: pointer;
	z-index: 9999999999;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
