:root {
	--primary-color: #3366cc;
	--primary-color-op9: #0099cc;
	--primary-color-op8: #66ccff;
	--primary-color-op7: #99ccff;
	--primary-color-op6: #ccffff;
	--white-color: #fff;
	--black-color: #000;
	--text-color: #5f5f5f;
	/* HEADER */
	--height-header: 100px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}
body::-webkit-scrollbar {
	width: 5px;
}
body::-webkit-scrollbar-track {
	background-color: var(--white-color);
}
body::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 8px;
}
