.slick-next {
	right: 25px !important;
}
.slick-next::before,
.slick-prev::before {
	font-size: 25px;
	color: var(--primary-color-op9);
}
.slick-prev {
	left: 25px !important;
	z-index: 2;
}
.slick-dots {
	bottom: 20px;
}
.slick-dots li.slick-active button:before {
	color: var(--primary-color-op9);
}
.slick-dots li button:before {
	color: var(--primary-color-op8);
	font-size: 12px;
}
